body {
    font-size: 100%;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:after {
    content: ' >';
}

.body-wrapper {
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    color: #6f6f6f;
}

.content-wrapper {
    display: block;
    overflow: auto;
    margin-top: 30px;
}

.content-element {
    margin-bottom: 30px;
    font-size: 90%;
    background-color: #f2f0f0;
    display: block;
    overflow: auto;
    border-radius: 5px;
}

.content-header {
    padding: 15px 40px;
    overflow: auto;
    height: auto;
    line-height: 19px;
    background-color: #b9b8b8;
}

.content-body-wrapper {
    display: block;
    overflow: auto;
    margin-top: 20px;
    padding: 0 40px 20px 40px;
}

.content-footer {
    padding: 30px 40px 25px 40px;
    overflow: auto;
    height: auto;
}

.footer-text {
    list-style: none;
    font-size: 80%;
    display: inline;
    padding-right: 30px;
    color: #959494;
}

.content-body {

}

ol {
    list-style-type: none;
}

li {
    padding-bottom: 10px;
}

.body-options {
    text-align: right;
}

.content-title {
    width: 400px;
    font-size: 130%;
}

.body-option {
    color: #5A96C3;    
}

.accept-button, .deny-button {
    padding-right: 40px;
}

.invitation-list {
    width: 920px;
}

.tutor-assign-element {
    width: 180px;
    padding-bottom: 10px;
}

.tutor-assign-element-title {
    padding-bottom: 10px;
}

.form-field {
    width: 250px;
    margin-bottom: 7px;
}

.new-line {
    clear: left;
}

.text-input {
    margin: 0 0 7px 0;
    padding: 0;
}

.label {
    line-height: 20px;
}

.checkbox-container {
    border:2px solid #ccc;
    padding: 10px;
    width:100px; 
    height: 100px; 
    overflow-y: scroll;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.left {
    float: left;
}

.right {
    float: right;
}
