body {
    font-size: 100%;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:after {
    content: ' >';
}

.body-wrapper {
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    color: #6f6f6f;
}

.header {
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* color 1 */
    background-color: #2B648F;
    height: 110px;
    color: #ffffff;
}

ul.navigation {
    margin-top: 5px;
    height: 28px;
    /* color 1, var 1 */
    background-color: #5A96C3;
    border-radius: 5px;
}

ul.navigation li {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 90%;
}

ul.navigation a {
    float: left;
    padding: 7px 40px;
    /* color 1, var 2*/
    color: #335570;
}

ul.navigation a#selected {
    color: #ffffff;
}

.notification-bar {
    padding: 7px 40px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.error {
    border: 3px solid #DE3838;
    color: #DE3838;
}

.warning {
    border: 3px solid #f4ad32;
    color: #f4ad32;
}

.success {
    border: 3px solid #2DB22D;
    color: #2DB22D;
}

.content-wrapper {
    display: block;
    overflow: auto;
    margin-top: 30px;
}

.content-element {
    margin-bottom: 30px;
    font-size: 90%;
    background-color: #f2f0f0;
    display: block;
    overflow: auto;
    border-radius: 5px;
}

.course-title {
    padding-top: 20px;
    font-size: 200%;
    padding-bottom: 20px;
}

.course-info {
    color: #ffffff;
    font-size: 90%;
    padding-left: 40px;
    width: 475px;
    height: 110px;
}

.change-course {

}

.course-extra-info {
    font-size: 90%;
    /* color 2 */
    color: #DE9738;
    width: 215px;
}

.points-huge {
    padding-top: 15px;
    text-align: center;
    font-size: 380%;
}

.points-huge:after {
    content: "%";
}

.total-points {
    text-align: center;
}

.user-info {
    width: 160px;
    text-align: right;
    padding-right: 40px;
    padding-left: 30px;
    font-size: 90%;
}

.user-name {
    padding-top: 20px; 
}

.user-id {
    padding-bottom: 20px;
}

.content-header {
    padding: 15px 40px;
    overflow: auto;
    height: auto;
    line-height: 19px;
    background-color: #b9b8b8;
}

.content-body-wrapper {
    display: block;
    overflow: auto;
    margin-top: 20px;
    padding: 0 40px 20px 40px;
}

.content-footer {
    padding: 30px 40px 25px 40px;
    overflow: auto;
    height: auto;
}

.footer-text {
    list-style: none;
    font-size: 80%;
    display: inline;
    padding-right: 30px;
    color: #959494;
}

.content-body {

}

ol {
    list-style-type: none;
}

li {
    padding-bottom: 10px;
}

.body-options {
    text-align: right;
}

.content-title {
    width: 400px;
    font-size: 130%;
}

.body-option {
    color: #5A96C3;    
}

.accept-button, .deny-button {
    padding-right: 40px;
}

.invitation-list {
    width: 920px;
}

.tutor-assign-element {
    width: 180px;
    padding-bottom: 10px;
}

.tutor-assign-element-title {
    padding-bottom: 10px;
}

.form-field {
    width: 250px;
    margin-bottom: 7px;
}

.new-line {
    clear: left;
}

.text-input {
    margin: 0 0 7px 0;
    padding: 0;
}

.label {
    line-height: 20px;
}

.checkbox-container {
    border:2px solid #ccc;
    padding: 10px;
    width:100px; 
    height: 100px; 
    overflow-y: scroll;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.left {
    float: left;
}

.right {
    float: right;
}
