*.swp
.DS_Store
Assistants/Test/
Assistants/hyperlight
*CConfig.json
*_cconfig.json
*.ini
path/
ostepu/
Assistants/Test/
.project
DB/CHelp/cache/
UI/include/Config.php
UI/Images/head_logo_hover.jpg
Assistants/vendor/
install/vendor/
vendor/
install/segments/ext_*
Assistants/QEPGenerator/config.json
install/config*
