body {
    font-size: 100%;
    font-family: sans-serif;
}

.body-wrapper {
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    color: #6f6f6f;
}

.header {
    overflow: auto;
}

.content-wrapper {
    width: 960px;
    display: block;
    overflow: auto;
    margin-top: 30px;
}

.content {
    margin-bottom: 30px;
    background-color: #dbdbdb;
    width: 960px;
    display: block;
    overflow: auto;
}

.course-title {
    padding-top: 20px;
    font-size: 170%;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.course-info {
    color: #ffffff;
    background-color: #79C425;
    float: left;
    padding-left: 40px;
    width: 475px;
    height: 110px;
}

.change-course {

}

.course-points {
    height: 110px;
    color: #9E8061;
    float: left;
    width: 215px;
    background-color: #79D435;
}

.points-huge {
    padding-top: 10px;
    text-align: center;
    font-size: 400%;
}

.total-points {
    text-align: center;
    text-transform: uppercase;
}

.user-info {
    height: 110px;
    width: 160px;
    float: right;
    padding-right: 40px;
    padding-left: 30px;
    background-color: #b9E475;
}

.user-name {
    padding-top: 20px;    
}

.user-id {
    padding-bottom: 20px;
}

.log-out {
    color: #6f6f6f;
}

.content-header {
    padding: 20px 40px 15px 40px;
    overflow: auto;
    height: auto;
    background-color: #cccaca;
}

.content-body {
    width: 960px;
    display: block;
    overflow: auto;
    margin-top: 30px;
}

.content-footer {
    padding: 30px 40px 25px 40px;
    overflow: auto;
    height: auto;
}

.footer-text {
    list-style: none;
    font-size: 80%;
    display: inline;
    padding-right: 30px;
    color: #959494;
}

.exercise-sheet-body {

}

.exercise-sheet-body-left {
    padding-bottom: 30px;
    padding-left: 40px;
    float: left;
}

.exercise-sheet-body-extras {
    padding-bottom: 30px;
    padding-right: 40px;
    float: right;
}

ol {
    list-style-type: none;
}

li {
    padding-bottom: 10px;
}

.exercise-list {
    counter-reset: item;
}

.exercise-list li:before {
    content: counter(item, decimal) ' | ';
    counter-increment: item;
}

.body-options {
    text-align: right;
}

.content-title {
    width: 400px;
    float: left;
    font-size: 130%;
    text-transform: uppercase;
}

.exercise-sheet-end {
    float: right;
    color: red;
}

.exercise-sheet-percent {
    float: right;
    color: #69a82a;
    font-weight: bold;
    padding-right: 105px;
}

.exercise-sheet-info {
    float: right;
    color: #69a82a;
    padding-right: 120px;
}

.exercise-type {
    width: 200px;
    padding-left: 5px;
    display: inline-block;
}

.exercise-points {
    display: inline-block;
    width: 50px;
    color: #69a82a;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:after {
    content: ' >';
}

.body-option {
    color: #6f6f6f;    
}

.accept-button {
    float: right;
    padding-right: 40px;
}

.deny-button {
    float: right;
    padding-right: 40px;
}

.invitation-list {
    width: 920px;
}