body {
    font-size: 100%;
    font-family: "Lucida Grande";
}

.body-wrapper {
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    color: #6f6f6f;
}

.header {
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.navigation {
    margin-top: 5px;
    width: 960px;
    height: 28px;
    background-color: #5A96C3;
    border-radius: 5px;
}

ul.navigation li {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 90%;
    border-radius: 5px;
}

ul.navigation a {
    float: left;
    padding: 7px 40px 7px 40px;
    color: #114063;
}

ul.navigation a#selected {
    color: #ffffff;
}

.content-wrapper {
    width: 960px;
    display: block;
    overflow: auto;
    margin-top: 30px;
}

.content {
    margin-bottom: 30px;
    font-size: 90%;
    background-color: #f2f0f0;
    width: 960px;
    display: block;
    overflow: auto;
    border-radius: 5px;
}

.course-title {
    padding-top: 20px;
    font-size: 200%;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.course-info {
    color: #ffffff;
    background-color: #2B648F;
    font-size: 90%;
    float: left;
    padding-left: 40px;
    width: 475px;
    height: 110px;
}

.change-course {

}

.course-extra-info {
    height: 110px;
    font-size: 90%;
    color: #DE9738;
    float: left;
    width: 215px;
    background-color: #2B648F;
}

.points-huge {
    padding-top: 15px;
    text-align: center;
    font-size: 380%;
    font-weight: bold;
}

.points-huge:after {
    content: "%";
}

.total-points {
    text-align: center;
    text-transform: uppercase;
}

.user-info {
    height: 110px;
    width: 160px;
    float: right;
    text-align: right;
    color: #ffffff;
    padding-right: 40px;
    padding-left: 30px;
    font-size: 90%;
    background-color: #2B648F;
}

.user-name {
    padding-top: 20px; 
}

.user-id {
    padding-bottom: 20px;
}

.log-out {
    color: #ffffff;
}

.content-header {
    padding: 15px 40px 15px 40px;
    overflow: auto;
    height: auto;
    background-color: #b9b8b8;
}

.content-body {
    width: 960px;
    display: block;
    overflow: auto;
    margin-top: 30px;
}

.content-footer {
    padding: 30px 40px 25px 40px;
    overflow: auto;
    height: auto;
}

.footer-text {
    list-style: none;
    font-size: 80%;
    display: inline;
    padding-right: 30px;
    color: #959494;
}

.exercise-sheet-body {

}

.exercise-sheet-body-left {
    padding-bottom: 30px;
    padding-left: 40px;
    float: left;
}

.exercise-sheet-body-extras {
    padding-bottom: 30px;
    padding-right: 40px;
    float: right;
}

ol {
    list-style-type: none;
}

li {
    padding-bottom: 10px;
}

.exercise-list {
    counter-reset: item;
}

.exercise-list li:before {
    content: counter(item, decimal) ' | ';
    counter-increment: item;
}

.body-options {
    text-align: right;
}

.content-title {
    width: 400px;
    float: left;
    font-size: 130%;
    text-transform: uppercase;
}

.exercise-sheet-end {
    float: right;
    font-weight: bold;
    color: #DE3838;
}

.exercise-sheet-percent {
    float: right;
    color: #2DB22D;
    font-weight: bold;
    padding-right: 105px;
}

.exercise-sheet-percent:after {
    content: "%";
}

.exercise-sheet-info {
    float: right;
    color: #2DB22D;
    font-weight: bold;
    padding-right: 120px;
}

.exercise-sheet-info:after {
    content: " unkorrigiert";
}

.exercise-type {
    width: 200px;
    padding-left: 5px;
    display: inline-block;
}

.exercise-points {
    text-align: right;
    display: inline-block;
    width: 100px;
    color: #2DB22D;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:after {
    content: ' >';
}

.body-option {
    color: #6f6f6f;    
}

.accept-button {
    float: right;
    padding-right: 40px;
}

.deny-button {
    float: right;
    padding-right: 40px;
}

.invitation-list {
    width: 920px;
}
