body {background-color: #ffffff; color: #000000;}
body, td, th, h1, h2 {font-family: sans-serif;}
pre {margin: 0px; font-family: monospace;}
a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
a:hover {text-decoration: underline;}
table {border-collapse: collapse;}
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left;}
.center th { text-align: center !important; }
td { border: 1px solid #000000; font-size: 75%;}
th { font-size: 150%;}
h1 {font-size: 150%;}
h2 {font-size: 125%;}
.p {text-align: left;}
.e {background-color: #ccccff; font-weight: bold; color: #000000;}
.h {background-color: #9999cc; font-weight: bold; color: #000000;text-align: right;}
.k {background-color: #FACC2E; font-weight: bold; color: #000000;text-align: right;}
.v {background-color: #cccccc; color: #000000;}
.v_c {background-color: #cccccc; color: #000000;text-align: center;}
.vr {background-color: #cccccc; text-align: right; color: #000000;}
hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}
.text-button {
    font-family:'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    border: 0;
    padding: 0;
    background: none;
    font-size: 100%;
}
button:focus {outline: none;}
button:hover {cursor: pointer;}
.info-color, .info-color a {color: #2b648f;}
.bold {font-weight: bold;}