RewriteEngine On
RewriteCond %{HTTP_HOST} !^localhost(:\d+)?$
RewriteCond %{REQUEST_METHOD} !^GET$ [OR]
RewriteCond %{THE_REQUEST} !(.)*\/CContent\/content(\/.)+(\.(.+))?


RewriteRule ^ index.php [QSA,L]
