RewriteEngine On
RewriteCond %{HTTP_HOST} !^localhost(:\d+)?$
RewriteCond %{REQUEST_METHOD} !^GET$ [OR]
RewriteCond %{THE_REQUEST} !(.)*\/FSBinder\/([0-9a-f_]+)\/(file|zip|pdf|csv)\/([0-9a-f])\/([0-9a-f])\/([0-9a-f])\/([0-9a-f])+\/(.+)\.(.+)
RewriteRule ^ - [F]
RewriteRule ^ index.php [QSA,L]