Order Allow,Deny
Deny from all

# allow access to ExerciseSettings and Subtask templates these are needed to
# generate CreateSheet site.
<FilesMatch "(ExerciseSettings.template.php|Subtask.template.php|FormSettings.template.php|FormInput.template.php|FormRadio.template.php|FormCheckbox.template.php|FormAddCheckbox.template.php|FormAddRadio.template.php|Processor.template.php|ProcessorAddAttachment.template.php)">
    Order Allow,Deny
    Allow from all
</FilesMatch>