/**
 * @file Exercise.css
 * Layout styles for pages that contain exercises.
 *
 * @author Felix Schmidt
 * @author Florian Lücke
 */

.exercise-sheet-images {
    padding-left: 20px;
    display: inline;
}

.exercise-sheet-images img {
    width: 17px;
    height: 17px;
    padding-right: 10px;
    margin-bottom: -5px;
}

.exercise-sheet-images input {
    width: 17px;
    height: 17px;
    border: 0;
    padding: 0 10px 0 0;
    margin: 0 0 -4px 0;
}

.exercise-sheet-info, .exercise-points {
}

.exercise-sheet-info {
    padding-right: 120px;
}

.exercise-type {
    width: 150px;
    padding-left: 5px;
    display: inline-block;
}

.exercise-points {
    text-align: right;
    padding-right: 40px;
    display: inline-block;
    width: 80px;
}

.exercise-status {
    color: #abacad;
    text-align: left;
    display: inline-block;
    width: 150px;
}

.exercise-comment {
    width: 150px;
    display: inline-block;
    padding-top: 4px;
}

.exercise-list {
    counter-reset: item;
}

.exercise-list li {
    height: 18px;
}

.exercise-list li:before {
    content: counter(item, decimal);
    counter-increment: item;
    padding-right: 25px;
    font-weight: bold;
    color: #6f6f6f;
}

.subexercise-list {
    height: auto !important;
    counter-reset: subitem !important;
    counter-increment: item;
    padding-bottom: 0;
}

.subexercise-list:before {
    display: none !important;

}

.subexercise-list ol > li:before {
    content: counter(item, decimal) counter(subitem, lower-alpha);
    counter-increment: subitem !important;
    padding-right: 25px;
    font-weight: bold;
    color: #6f6f6f;
}