SetEnv HTTP_MOD_PHP5 Off
SetEnv HTTP_MOD_REWRITE Off
SetEnv HTTP_MOD_DEFLATE Off
SetEnv HTTP_MOD_HEADERS Off
SetEnv HTTP_MOD_FILTER Off
SetEnv HTTP_MOD_EXPIRES Off

<IfModule mod_php5.c>
    SetEnv HTTP_MOD_PHP5 On
</IfModule>
<IfModule mod_rewrite.c>
    SetEnv HTTP_MOD_REWRITE On
</IfModule>
<IfModule mod_deflate.c>
    SetEnv HTTP_MOD_DEFLATE On
</IfModule>
<IfModule mod_headers.c>
    SetEnv HTTP_MOD_HEADERS On
</IfModule>
<IfModule mod_filter.c>
    SetEnv HTTP_MOD_FILTER On
</IfModule>
<IfModule mod_expires.c>
    SetEnv HTTP_MOD_EXPIRES On
</IfModule>

SetEnv HTTP_MOD_CGI Off
<IfModule mod_cgi.c>
    SetEnv HTTP_MOD_CGI On
</IfModule>