RewriteEngine On

# damit nur lokale Aufrufe erlaubt sind
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule ^ - [F] # ansonsten wird die Anfrage zurueckgewiesen

# eingehende Anfragen werden auf die index.php umgeleitet
RewriteRule ^ index.php [QSA,L]