RewriteEngine On
RewriteCond %{HTTP_HOST} !^localhost(:\d+)?$
RewriteCond %{REQUEST_METHOD} !^GET$ [OR]
RewriteCond %{THE_REQUEST} !(.)*\/CHelp\/(help(\/.)+(\.(.+))?|status)
RewriteRule ^ - [F]
RewriteRule ^ index.php [QSA,L]