RewriteEngine On
RewriteCond %{HTTP_HOST} !^localhost$
RewriteCond %{REQUEST_METHOD} !^GET$ [OR]
RewriteCond %{THE_REQUEST} !(.)*\/CHelp\/(help)\/(([0-9,a-f])+\/)*(\.(.+))?
RewriteRule ^ - [F]
RewriteRule ^ index.php [QSA,L]