/**
 * @file Forms.css
 * Layout styles for form elements.
 *
 * @author Felix Schmidt
 * @author Florian Lücke
 */

.form-field {
    width: 250px;
    margin-bottom: 7px;
    display: inline-block;
}

.new-line {
    clear: left;
}

.short {
    width: 130px;
}

.very-short {
    width: 50px;
}

.medium {
    width: 75px;
}

.wider {
    width: 300px;
}

.very-wide {
    width: 748px;
}

.text-input {
    margin: 0 20px 7px 0;
    padding: 0;
}

.radio {
    margin: -2px 0 10px 0;
    padding: 0;
}

.label {
    margin: 0 20px 7px 0;
    line-height: 20px;
}

.button {
    margin: 0 0px 7px 0;
}

.checkbox-container {
    border: 2px solid #ccc;
    margin-top: 2px;
    height: 140px;
    color: #000000;
    font-size: 80%;
    background: #ffffff;
    overflow-y: scroll;
}

.form-text {
    margin-bottom: 0;
    margin-top: 3px;
}

textarea.text-input {
    width: 748px;
    max-width: 748px;
    margin-right: 0;
}

/* remove bottom margin from form elements that are in a list */
li .form-field {
    margin-bottom: 2px;
}

li .text-input {
    margin-bottom: 2px;
}

li .button {
    margin-bottom: 2px;
}

.submit {
    font-size: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
    text-align: left;
    width: 960px;
    color: #6f6f6f;
    margin-bottom: 30px;
}

.submit > .content-element {
    margin-bottom: 0;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.text-button {
    font-family:'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    font-size: 100%;
    padding-left: 40px;
}

.text-button-simple {
    font-family:'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    font-size: 100%;
}

.text-button::after {
    content: '';
}

.image-button {
    border: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    background: none;
}

.image-button-simple {
    border: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    background: none;
}