/**
 * @file Header.css
 * Layout styles for the page header
 *
 * @author Felix Schmidt
 * @author Florian Lücke
 */

.header {
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* color 1 */
    background-color: #2b648f;
    color: #ffffff;
    padding: 20px 40px;
}

.course-title {
    font-size: 200%;
    margin-bottom: 19px;
}

.course-info {
    color: #ffffff;
    font-size: 90%;
    width: 475px;
}

.change-course {

}

.course-extra-info {
    font-size: 90%;
    /* color 2 */
    color: #de9738;
    width: 215px;
}

.points-huge {
    text-align: center;
    font-size: 380%;
    margin-top: -7px;
}

.points-huge::after {
    content: "%";
}

.total-points {
    text-align: center;
}

.user-info {
    width: 160px;
    text-align: right;
    font-size: 90%;
}

.user-name {

}

.user-id {
    padding-bottom: 20px;
}
