

/*Ladebox*/
.loading-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: rgba(128, 128, 128, 0.92);
  z-index: 100000;
}
.loading-box > div {
  display: table-row;
}
.loading-box > div:nth-child(2) {
  height: 1px;
}
.loading-box > div > div {
  display: table-cell;
}
.loading-box > div > div:nth-child(1),
.loading-box > div > div:nth-child(3) {
  width: 50%;
}
.loading-cell {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px black;
}
.loading-rotator {
  display: block;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 10px 10px 0;
}
.loading-rotator > div {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(7, 83, 7);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-name: anim-rotator;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
}
.loading-rotator > div:nth-child(1) { transform: rotate(0deg) translate(0, -50px); animation-delay: 0s; }
.loading-rotator > div:nth-child(2) { transform: rotate(30deg) translate(0, -50px); animation-delay: 0.25s; }
.loading-rotator > div:nth-child(3) { transform: rotate(60deg) translate(0, -50px); animation-delay: 0.5s; }
.loading-rotator > div:nth-child(4) { transform: rotate(90deg) translate(0, -50px); animation-delay: 0.75s; }
.loading-rotator > div:nth-child(5) { transform: rotate(120deg) translate(0, -50px); animation-delay: 1s; }
.loading-rotator > div:nth-child(6) { transform: rotate(150deg) translate(0, -50px); animation-delay: 1.25s; }
.loading-rotator > div:nth-child(7) { transform: rotate(180deg) translate(0, -50px); animation-delay: 1.5s; }
.loading-rotator > div:nth-child(8) { transform: rotate(210deg) translate(0, -50px); animation-delay: 1.75s; }
.loading-rotator > div:nth-child(9) { transform: rotate(240deg) translate(0, -50px); animation-delay: 2s; }
.loading-rotator > div:nth-child(10) { transform: rotate(270deg) translate(0, -50px); animation-delay: 2.25s; }
.loading-rotator > div:nth-child(11) { transform: rotate(300deg) translate(0, -50px); animation-delay: 2.5s; }
.loading-rotator > div:nth-child(12) { transform: rotate(330deg) translate(0, -50px); animation-delay: 2.75s; }
@keyframes anim-rotator  {
  0% { background-color: rgb(7, 83, 7); }
  20% { background-color: rgb(89, 230, 89); }
  40% { background-color: rgb(7, 83, 7); }
  100% { background-color: rgb(7, 83, 7); }
}



/*Optionsleiste*/
body {
    font-family: "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.ui-button {
  display: block;
  border: 1px solid black;
  border-radius: 0.2em;
  margin: 0.1em;
  padding: 0.2em 0.4em;
  text-align: center;
  box-shadow: 0.05em 0.05em 0.15em black;
  cursor: pointer;
  transition: background-color 0.3s;
}
.ui-button:hover {
  background-color: rgba(192, 192, 192, 0.4);
}
.ui-button:active,
.ui-button.active,
.ui-foldable.ui-open > .ui-button {
  box-shadow: none;
  color: white;
  transform: translate(0.05em, 0.05em);
}
.ui-foldable {
  position: relative;
}
.ui-foldable-marker {
  height: 0;
  position: absolute;
  top: 100%;
  display: none;
  z-index: 100;
}
.ui-foldable-box {
  background-color: lightgray;
  margin-top: 0.1em;
  padding: 0.1em;
}
.ui-foldable.ui-open .ui-foldable-marker {
  display: block;
}
.ui-commandbar {
  display: block;
  background-color: gray;
  padding: 0.2em;
  font-size: 1.4em;
  overflow-x: visible;
  overflow-y: visible;
}
.ui-commandbar > *,
.ui-commandbar-container > * {
  display: inline-block;
}
.ui-foldable > .ui-button:after {
  content: ' ';
  display: inline-block;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: 0.6em solid black;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0 solid transparent;
  margin-left: 0.5em;
}
.ui-foldable.ui-open > .ui-button:after {
  border-top: 0 solid transparent;
  border-bottom: 0.6em solid white;
}



/*Layout-Container*/
.content-box {
	display: table;
	width: 100vw;
	height: 100vh;
}
.content-box > * {
	display: table-row;
}
.content-box > *:nth-child(1) {
	height: 1px;
}
.content-box > * > * {
	display: table-cell;
}
.ui-layout-container {
	display:table;
	width: 100%;
	height: 100%;
}
.ui-layout-container > * {
	display: table-cell;
	position: relative;
}
.ui-layout-dock:not(.ui-open) {
	display: none;
}
.ui-layout-dock.ui-open {
	width: 25%;
	height: 100%;
}
.ui-layout-left {
	border-right: 1px solid lightgray;
}
.ui-layout-right {
	border-left: 1px solid lightgray;
}
.ui-layout-window-outer,
.ui-layout-window-inner {
	display: block;
	width: 100%;
	height: 100%;
}
.ui-layout-window-inner {
	display: table;
}
.ui-layout-window-inner > * {
	display: table-row;
}
.ui-layout-window-inner > * > * {
	display: table-cell;
	position: relative;
}
.ui-layout-window-title {
	background-color: lightgray;
	font-size: 1.4em;
	height: 1px;
	padding: 0.3em 0;
	text-align: center;
}
.ui-layout-window-content,
.ui-layout-main {
	overflow-y: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

/*Filterbox*/
.ui-foldable-group {
	margin: 0.2em;
}
.ui-foldable-group-header {
	display: block;
	border-bottom: 1px solid lightgreen;
	color: green;
	font-size: 1.2em;
	padding: 0.2em 0.4em;
	cursor: pointer;
	transition: background-color 0.3s;
	border-radius: 0.15em 0.15em 0 0;
}
.ui-foldable-group-header:hover {
	background-color: lightgreen;
}
.ui-foldable-group-content {
	display: none;
	margin: 0.2em 0.4em;
}
.ui-foldable-group.ui-open .ui-foldable-group-content {
	display: block;
}
.ui-foldable-group-header:after {
	content: " ";
	background-color: transparent;
	width: 0;
	height: 0;
	display: inline-block;
	float: right;
	border-top: 0.6em solid green;
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
	border-bottom: 0 solid transparent;
	margin-top: 0.2em;
}
.ui-foldable-group.ui-open .ui-foldable-group-header:after {
  border-top: 0 solid transparent;
  border-bottom: 0.6em solid green;
}
.ui-foldable-group input,
.ui-foldable-group select {
	display: block;
	width: 100%;
	margin: 0.2em 0 0.4em 0;
}



/*Keine Benutzerauswahl*/
.ui-commandbar,
.ui-layout-dock {
	-ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}







