.loading-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: rgba(128, 128, 128, 0.92);
}
.loading-box > div {
  display: table-row;
}
.loading-box > div:nth-child(2) {
  height: 1px;
}
.loading-box > div > div {
  display: table-cell;
}
.loading-box > div > div:nth-child(1),
.loading-box > div > div:nth-child(3) {
  width: 50%;
}
.loading-cell {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px black;
}
.loading-rotator {
  display: block;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 10px 10px 0;
}
.loading-rotator > div {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(7, 83, 7);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-name: anim-rotator;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
}
.loading-rotator > div:nth-child(1) { transform: rotate(0deg) translate(0, -50px); animation-delay: 0s; }
.loading-rotator > div:nth-child(2) { transform: rotate(30deg) translate(0, -50px); animation-delay: 0.25s; }
.loading-rotator > div:nth-child(3) { transform: rotate(60deg) translate(0, -50px); animation-delay: 0.5s; }
.loading-rotator > div:nth-child(4) { transform: rotate(90deg) translate(0, -50px); animation-delay: 0.75s; }
.loading-rotator > div:nth-child(5) { transform: rotate(120deg) translate(0, -50px); animation-delay: 1s; }
.loading-rotator > div:nth-child(6) { transform: rotate(150deg) translate(0, -50px); animation-delay: 1.25s; }
.loading-rotator > div:nth-child(7) { transform: rotate(180deg) translate(0, -50px); animation-delay: 1.5s; }
.loading-rotator > div:nth-child(8) { transform: rotate(210deg) translate(0, -50px); animation-delay: 1.75s; }
.loading-rotator > div:nth-child(9) { transform: rotate(240deg) translate(0, -50px); animation-delay: 2s; }
.loading-rotator > div:nth-child(10) { transform: rotate(270deg) translate(0, -50px); animation-delay: 2.25s; }
.loading-rotator > div:nth-child(11) { transform: rotate(300deg) translate(0, -50px); animation-delay: 2.5s; }
.loading-rotator > div:nth-child(12) { transform: rotate(330deg) translate(0, -50px); animation-delay: 2.75s; }
@keyframes anim-rotator  {
  0% { background-color: rgb(7, 83, 7); }
  20% { background-color: rgb(89, 230, 89); }
  40% { background-color: rgb(7, 83, 7); }
  100% { background-color: rgb(7, 83, 7); }
}